/* root styles */
/* set colour custom variable */
:root {
  --give-color: #a189be;
  --explore-color: #304b55;
  --take-notice-color: #44a297;
  --learn-color: #eaf0d6;
  --connect-color: #ec6969;
}

body {
  padding: 0;
  text-align: center;
  background-color: #f5f5f5;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
